.app-wrapper{
    display: grid;
    width: 90%;
    margin-left: 5%;
    background-color: firebrick;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "h h"
    "n c";
}
.content{
    grid-area: c;
    background-color: darkmagenta;
}
